
<!DOCTYPE html>
<html>
<head>
	<title> <%= yield(:title) %> | Ruby on Rails Tutorial Sample App	</title>
</head>

<body>

<h1>Welcome to the Sample App</h1>
<strong>
	
<p>
This is the home page for the
<a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a> sample application.
</p>
</strong>
<br>
<br>
<a href="">Sign up now!</a>
<br>
<%= link_to(image_tag("logo.jpg")) %>
</body>

</html>

